<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>Hello world!</title>
</head>

<body>
  <div id="site">
    <h1>This Part is Managed by Vue</h1>

    <p>Note that, we cannot use the self-closing tags for Vue components. For example, this will NOT work:</p>
    <code>&lt;some-vue-content /&gt;</code>

    <p>Use this instead:</p>
    <code>&lt;some-vue-content&gt;&lt;/some-vue-content&gt;</code>

    <some-vue-content param="hello world"></some-vue-content>

    <p>And these contents are outside of the child component: "{{ someContent }}".</p>
  </div>

  <script src="bundle.js"></script>
</body>

</html>